---
import type {SocialLinkId} from '../../lib/types';
import FlexColumn from '../atoms/FlexColumn.astro';
import FlexRow from '../atoms/FlexRow.astro';
import Spacer from '../atoms/Spacer.astro';
import Text from '../atoms/Text.astro';
---

<div class="class-section-wrapper">
  <FlexColumn flex>
    <Text as="h3" monospace>
      I build software with a focus on accessibility and performance
    </Text>
  </FlexColumn>
</div>
