---
import type {SocialLinkId} from '../../lib/types';
import FlexColumn from '../atoms/FlexColumn.astro';
import FlexRow from '../atoms/FlexRow.astro';
import Spacer from '../atoms/Spacer.astro';
import Text from '../atoms/Text.astro';
---

<div class="class-section-wrapper">
  <FlexColumn flex>
    <Text as="h3" monospace>
      I build software with a focus on accessibility and performance
    </Text>
    <Spacer y={12} />
  </FlexColumn>
  <Text as="h3" monospace>Welcome to my online eden</Text>
  <Spacer y={28} />
  <FlexRow gap={{mobile: 28, desktop: 32}}>
    social 1 
    social 2
    social 3
    social 3
  </FlexRow>
</div>
